{% extends 'components/base.html'%}
{% load crispy_forms_tags %}
{% load static %} 
{% load i18n %}
{% load socialaccount %}
{% block content %}

<div class="col-md-4 mx-auto mt-5">
  <form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  
  <div class="d-grid gap-1">
  <button type="submit" class="btn btn-primary primaryAction">{% trans "Sign In" %}</button>
  </div>
  <small><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></small>
  </form>

  
  <a href="{% provider_login_url 'google' %}" class="btn btn-danger">Sign in with google</a>
</div>

{% endblock%}
